PLEASE_README=This is an EXAMPLE env file, and many of the settings specified in this file are OPTIONAL
PLEASE_README=You should read the documentation to see what is and isn't required, and their defaults.
PLEASE_README=You will also find information about each of these env vars in the folder steemengine/settings/

SECRET_KEY=SomeSecureRandomString
DEBUG=false

DB_BACKEND=postgresql
DB_USER=steemengine
DB_NAME=steemengine
DB_PASS=MyDatabasePassword
DB_HOST=localhost

ADMINS=John Doe:john@example.com,Jane Doe@example.com
ALLOW_HOSTS=example.com,www.example.com
SITE_URL=https://www.example.com

SERVER_EMAIL=noreply@example.com
EMAIL_HOST=smtp.emailprovider.com
EMAIL_USER=myemailuser
EMAIL_PASSWORD=somesecurepassword
EMAIL_PORT=587
EMAIL_TLS=true

UNLOCK=mybeempassword

EX_FEE=10
STEEM_RPC_NODES=https://steemd.privex.io,https://api.steemit.com
