{% extends "admin/base_site.html" %}
{% load i18n cache static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a
            href="">Fee Payout Calculator</a>
    </div>
{% endblock %}

{% block content %}
    <h1>Claimable Fees</h1>

        <table style="display: inline">
            <tr><th>All-Time</th><td></td><td></td><td></td></tr>
            {% for coin_id, p in payout %}
                <tr><td>{{ coin_id }}</td><td>{{ p.amount }}</td><td>${{ p.value }}</td></tr>
            {% endfor %}
        </table>
        <table style="display: inline">
            <tr><th>Since last payout</th><td></td><td></td></tr>
            {% for coin_id, p in payout2 %}
                <tr><td>{{ coin_id }}</td><td>{{ p.amount }}</td><td>${{ p.value }}</td>
                {% for coin, info in p.info.items %}
                    <td>{{ coin }}</td><td>{{ info.current_bal }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <hr/>
        <br/>

    <form action="{% url 'admin:fee_payout' %}" method="POST">
        {% csrf_token %}
        <div class="submit-row" style="text-align: left">
            <input type="submit" name="submit" value="Create New Payout"/>
        </div>
    </form>

{% endblock %}